<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/" class="nav-brand" (click)="cerrarMenu()">
      <img src="https://png.pngtree.com/png-vector/20200428/ourmid/pngtree-greenery-paradise-png-image_90065.jpg" alt="Paraíso Verde" class="logo">
      <span>Paraíso Verde</span>
    </a>

    <button class="nav-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="nav-menu" [class.active]="mostrarMenu">
      <a routerLink="/" class="nav-link" (click)="cerrarMenu()">Inicio</a>
      <a routerLink="/departamentos" class="nav-link" (click)="cerrarMenu()">Habitaciones</a>
      
      <ng-container *ngIf="authService.isAuthenticated()">
        <a routerLink="/mis-reservas" class="nav-link" (click)="cerrarMenu()">Mis Reservas</a>
        <a routerLink="/facturas" class="nav-link" (click)="cerrarMenu()">Facturas</a>
        <a routerLink="/perfil" class="nav-link" (click)="cerrarMenu()">Perfil</a>
        <button class="nav-link btn-logout" (click)="logout()">Cerrar Sesión</button>
      </ng-container>
      
      <ng-container *ngIf="!authService.isAuthenticated()">
        <a routerLink="/login" class="nav-link btn-login" (click)="cerrarMenu()">Iniciar Sesión</a>
        <a routerLink="/register" class="nav-link btn-register" (click)="cerrarMenu()">Registrarse</a>
      </ng-container>
    </div>
  </div>
</nav>

<main class="main-content">
  <router-outlet></router-outlet>
</main>